
function strInclude(str, str_) {
  return str.indexOf(str_);
}
function isArray(arr) {
  return arr.constructor && arr.constructor == 'Array';
}
function getHexColor(color) {
  var reg1 = getRegExp('rgba?\(');
  var reg2 = getRegExp('\)');
  var reg3 = getRegExp('[\s+]');
  var values = color
    .replace(reg1, '')
    .replace(reg2, '')
    .replace(reg3, '')
    .split(',')
  var a = parseFloat(values[3] || 1),
    r = Math.floor(a * parseInt(values[0]) + (1 - a) * 255),
    g = Math.floor(a * parseInt(values[1]) + (1 - a) * 255),
    b = Math.floor(a * parseInt(values[2]) + (1 - a) * 255)
  return '#' +
    ('0' + r.toString(16)).slice(-2) +
    ('0' + g.toString(16)).slice(-2) +
    ('0' + b.toString(16)).slice(-2)
}

module.exports = {
  strInclude: strInclude,
  isArray: isArray,
  getHexColor: getHexColor
};